body {
    font-family: 'mpluscoad', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('./img/debugger/hg/hg_start.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.mainFrame {
    display: block;
    position: relative; 
    width: 100%; 
    max-width: 720px;
    height: 100%;
    max-height: 480px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(10, 223, 2, 0.955);
}

canvas {
    background-color: black;
    display: block;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 720px) {
    .mainFrame {
        width: 100%;
        height: auto;
        aspect-ratio: 3 / 2;
    }
}

@media only screen and (max-height: 480px) {
    .mainFrame {
        height: 100vh;
        width: auto;
        aspect-ratio: 3 / 2;
    }
}

h1 {
    color: white;
    font-size: 46px;
    font-family: 'mpluscoad', sans-serif;
    text-shadow: 2px 2px 4px rgba(10, 223, 2, 0.955);
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 12px;
}

p img {
    width: 15px;
    height: 15px;
}

@font-face {
    font-family: 'mpluscoad';
    src: url('./fonts/mpluscoad.ttf');
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

#startScreen {
    display: flex;
    background-image: url('./img/debugger/hg/debugger_main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 3;
}

#startScreenLeft {
    width: 40%;
    overflow-y: auto;
}

#startScreenLeft::-webkit-scrollbar {
    width: 5px;
}

#startScreenLeft::-webkit-scrollbar-thumb {
    background-color: #0adf02;
    border-radius: 10px;
}

#startScreenRight {
    box-sizing: border-box;
    background-image: url('./img/debugger/hg/startScreen.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    width: 68%;
}

.howtoplay {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    color: white;
    width: 85%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mission {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    color: white;
    width: 85%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.impressum {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    color: white;
    width: 85%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

button {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.button-start {
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.button-start:hover {
    cursor: pointer;
    background: #ff9900;
    border-radius: 15px;
}

.button-start img {
    width: 200px;
    height: 50px;
}

#panelBottom {
    width: 100%;
    max-width: 720px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#leftRightButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

#settingsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

#jumpFireButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.button-right {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    width: 60px;
    height: 50px;
}

.button-right img {
    width: 60px;
    height: 50px;
}

.button-right:hover {
    background: #ff9900;
}

.button-left {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    width: 60px;
    height: 50px;
}

.button-left img {
    width: 60px;
    height: 50px;
}

.button-left:hover {
    background: #ff9900;
}

.button-jump {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    width: 60px;
    height: 50px;
}

.button-jump img {
    width: 60px;
    height: 50px;
} 

.button-jump:hover {
    background: #ff9900;
}

.button-fire {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    width: 60px;
    height: 50px;
}

.button-fire img {
    width: 60px;
    height: 50px;
}

.button-fire:hover {
    background: #ff9900;
}

.button-settings {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    width: 50px;
    height: 40px;
}

.button-settings img {
    width: 50px;
    height: 40px;
} 

.button-settings:hover {
    background: #ff9900;
}
